.container-add {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    min-width: calc(50% - 20px); /* Each group takes half the width, minus some space for margins */
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 0.85rem; /* Smaller font size */
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 4px; /* Smaller padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.75rem; /* Smaller font size */
    margin-bottom: 5px; /* Space between inputs */
}

.form-group input[type="date"] {
    padding-right: 20px; /* Make room for the date icon */
}

.btn {
    display: inline-block;
    padding: 8px 15px; /* Smaller padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.85rem; /* Smaller font size */
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #4744d8;
    padding-bottom: 10px;
    font-family: 'Arial', sans-serif;
}
