@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.card_container_cib_islamique {
    min-height: 100vh;
    width: 100%;
    background:#000 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card_cib_islamique{
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}
.card-inner_cib_islamique {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front_cib_islamique , .back_cib_islamique{
    width: 100%;
    height: 100%; 
    background-image: linear-gradient(180deg,#cccbc5,#398d37); 
    position: absolute;
    top:0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row_cib_islamique {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img_cib_islamique{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.no-card_cib_islamique{
    font-size: 35px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Courier New' , monospace;
}

.card-holder_cib_islamique {
    font-size: 12px;
    margin-top: 40px;
}
.card-holder-information_cib_islamique{
    text-transform: uppercase;
}
.name_cib_islamique{
    font-size: 22px;
    margin-top: 20px;   
}

.bar_cib_islamique{
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv2_cib_islamique{
    margin-top: 20px;
}

.card-cvv2_cib_islamique div{
    flex: 1;
}

.card-cvv2_cib_islamique img{
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv2_cib_islamique p{
    background: #fff;
    color: #000;
    font-size:15px;
    padding: 10px 20px;
}

.card-text_cib_islamique{
    font-size: 12px;
    margin-top: 30px;
}

.signature_cib_islamique{
    margin-top: 15px;
}

.back_cib_islamique {
    transform: rotateY(180deg);
}

.card_cib_islamique:hover .card-inner_cib_islamique {
    transform: rotateY(-180deg);
}