
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Bouton pour ouvrir la fenêtre de discussion */
#open-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #94d441;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;

    /* Aligne le texte au centre du bouton */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Ajuste la taille du texte dans le bouton */
    font-size: 1rem;
}




/* Fenêtre de chat */
.chat-window {
    position: fixed;
    bottom: 100px;
    left: 75%;
    width: 300px;
    max-height: 400px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
    overflow: hidden;
}

/* En-tête de la fenêtre de discussion */
.chat-header {
    padding: 12px;
    background-color: #3a3f44; /* Couleur sombre */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Bouton de fermeture de la fenêtre */
.close-chat-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Conteneur des messages de discussion */
.chat-container {
    padding: 12px;
    max-height: 700px; /* Réduisez la hauteur maximale */
    overflow-y: auto;
    background-color: white;
}

/* Pied de la fenêtre de discussion */
.chat-footer {
    padding: 3px; /* Réduire le padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd; /* Bordure supérieure */
    background-color: #f0f0f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Champ d'entrée de texte */
#user-input {
    flex-grow: 1;
    padding: 4px; /* Réduisez le padding interne */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px; /* Réduisez la marge à droite */
}

/* Bouton d'envoi de message */
#send-button {
    padding: 4px 10px; /* Réduisez le padding interne */
    background-color: #3a3f44; /* Couleur sombre */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition douce */
}

#send-button:hover {
    background-color: #2a2e33; /* Couleur légèrement plus sombre au survol */
}
