@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

header {
    grid-column: 1 / -1;
    width: 100%;
    background-color: #f8f9fa;
}

.sidebar {
    grid-row: 2 / 3;
    background-color: #456e19;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;


}



.content {
    grid-row: 2 / 3;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

