.account-info, .account-actions, .account-details , .container-trn  {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    flex-grow: 1; /* Ajout de flex-grow pour permettre aux éléments de s'étirer */
}

.account-actions {
    flex-basis: 30%;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 40px;
}

.change, .account-info, .account-details ,.container-trn  {
    flex-basis: 60%;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 50px;
}

.account-info h1, .account-details h1 , .account-details h2{
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
}



.divider {
    height: 2px;
    background: #0e922f;
    margin: 10px 0;
    border-radius: 1px;
}

.account-info p, .account-details p {
    margin: 10px 0;
    color: #646464;
    font-size: 16px;
    line-height: 1.6;
}

.account-info p strong, .account-details p strong {
    font-weight: 500;
    color: #333;
}

.account-actions ul {
    list-style: none;
    padding: 0;
}

.account-actions li {
    margin-bottom: 10px;
}

.account-actions a {
    color: #0e6e26;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid #76b988;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.account-actions a:hover {
    background: #0e6e26;
    color: #ffffff;
    border-color: #0e6e26;
}

.account-actions a i {
    font-size: 1.2em;
}

.change {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    margin-bottom: 20px;
}

.change h1 {
    color: #333;
    margin-bottom: 20px; /* Augmentation de l'espace sous le titre */
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid green; /* Ajout d'une bordure inférieure verte */
    padding-bottom: 10px; /* Ajout d'un espace entre la bordure et le texte */
}

.change form {
    display: flex;
    flex-direction: column;
}

.change label {
    margin-bottom: 8px; /* Réduction de l'espacement entre les étiquettes */
    color: #555;
}

.change input {
    padding: 8px; /* Réduction de la taille du padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3px; /* Réduction de l'espacement entre les champs */
    width: 100%;
}

.change button {
    background: #a7a5a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.change button:hover {
    background: #0e6e26;
}

.account-info, .account-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
}

.account-info h1, .account-details h1 {
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
}

.divider {
    height: 2px;
    background: #0e922f;
    margin: 10px 0;
    border-radius: 1px;
}

.account-info p, .account-details p {
    margin: 10px 0;
    color: #646464;
    font-size: 16px;
    line-height: 1.6;
}

.account-info table, .account-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.account-info th, .account-info td, .account-details th, .account-details td {
    padding: 8px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.account-info th, .account-details th {
    background-color: #eaeaea;
    color: #555;
    font-weight: 500;
}

.account-info td, .account-details td {
    background-color: #ffffff;
    color: #666;
}

.account-info tr:nth-child(even), .account-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

.account-info tr:hover, .account-details tr:hover {
    background-color: #f5f5f5;
}
.account-info button, .account-details button, .account-actions button {
    background: #0e6e26;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-info button:hover, .account-details button:hover, .account-actions button:hover {
    background: #0a481a;
}


.container-trn h2 {
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
}

.container-trn p {
    margin: 10px 0;
    color: #646464;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.container-trn form {
    display: flex;
    flex-direction: column;
}

.container-trn label {
    margin-bottom: 5px;
    color: #555;
}

.container-trn input[type="text"],
.container-trn input[type="number"] {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.container-trn button[type="submit"] {
    background: #0e6e26;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.container-trn button[type="submit"]:hover {
    background: #0a481a;
}

.container-dmd {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 50px;
}

.container-dmd h1 {
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
}

.container-dmd form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-dmd label {
    margin-bottom: 8px;
    color: #555;
}

.container-dmd select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 56PX;
    width: 100%;
}

.container-dmd button {
    background: #0e6e26;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Ajustement de la taille du bouton */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    max-width: 200px; /* Limite la largeur maximale du bouton */
    text-align: center; /* Centre le texte du bouton */
}

.container-dmd button:hover {
    background: #0a481a;
}

.container-trn img.centered-image {
    display: block;
    margin: 15px auto 0 auto; /* Centrer l'image et ajouter une marge supérieure */
    max-width: 100%; /* Optionnel: Pour s'assurer que l'image ne dépasse pas la largeur du conteneur */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
