@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.acceuil {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}
.navbar {
    height: 90px;
    background-color: #456e19;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .badr-nav-link.nav-link {
    padding-right: 10px;
    padding-left: 15px;
    color: rgb(245, 240, 240);
    font-size: 16px;
}

.navbar .badr-nav-link.nav-link:hover {
    background-color: #5fa014;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.content {
    flex: 1;
}
footer {
    background-color: #456e19;
    color: white;
    padding: 5px 10px;
    margin-top: auto;
    font-size: 14px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px; /* Taille de la police pour les titres des sections */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    background-color: #d6d317;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px; /* Taille de la police pour le bas de page */
}

.container {
    position: relative;
    padding: 20px;
}



@media (max-width: 768px) {
    .footer-section {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .footer-section {
        flex-basis: 100%;
    }
}
