*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.test{
        display: block;
        unicode-bidi: isolate;
}

#myWrapperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin: 10px 0;
}


.wrapper img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: none;
    order: 2;
}


.wrapper .text-box {
    width: 55%;
    order: 1;
    padding-right: 10px;
    margin-left: 20px;

}



.text-box h2 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 12px;
}


.sophisticated-list p {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #666;
}


.sophisticated-list p::before {
    content: '• ';
    color: #ff6b6b;
    font-weight: bold;
    margin-right: 8px;
}



details {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px; 
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}


summary {
    cursor: pointer;
    font-weight: bold;
    color: #0d0d0e;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e9ecef;
    box-sizing: border-box;
}


summary:hover {
    color: #4ce937;
    background-color: #d4d8dd;
}


.collapsible-content {
    padding: 5px;
    margin-top: 0px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
